html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}
p{
    text-align: justify;
}
.fondo-azul{
    background: #332B96;
}
.fondo-negro{
    background: #000;
}
a{
    text-decoration: none;
    font-size: 15px;
    background-color: #332B96;
    color: #fff;
    border: 2px solid black;
    padding: 10px 5px;
}