body{
    width: 1024px;
    margin: 0 auto;
    font-size: 18px;
    background-color: #ecf0f1;
    font-family: tahoma ,sans-serif;
}
p{
    text-align: justify;
    line-height: 35px;
}
h1{
    font-size: 28px;
    color: #d35400;
}
h2{
    font-size: 22px;
    color: #e67e22;
}
span{
    color: #3498db;
    text-decoration: underline;
}
/* Inicio estilos de menú */
nav{
    background-color: #2c3e50;
    padding: 15px;
}
a{
    color: #f1c40f;
    margin: 75px;
    text-decoration: none;
}
/* Final estilos de menú */
a.regresar{
    font-size: 15px;
    border: 2px solid #e67e22;
    background-color: #2c3e50;
    display: block;
    width: 18%;
    margin: 10px 0 0 0;
    padding: 10px 10px;
}
