/* Estilos de 0px en adelante */
*{
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
}
/* Inicio estilos de header */
header{
    background: #373c3f;
    color: #ebebeb;
}

header #nav-mobile{
    min-height: 32px;
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    font-size: 16px;
}
header #nav-mobile span{
    display: flex;
    align-items: center;
    justify-content: center;
}
header #nav-mobile .material-icons{
    min-height: 32px;
    min-width: 32px;
    background: #202529;
    font-size: 18px;
}
header #nav-desktop{
    display: none;
}
/* Fin estilos de header */

/* Inicio estilos sct-intro */
#sct-intro{
    color: #fff;
    font-size: 6vw;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    background-image: linear-gradient(to right, #27b8c9 , #078aa4);
}
#sct-intro .intro-top,
#sct-intro .intro-middle{
    width: 90%;
}
#sct-intro .intro-middle{
    padding-top: 30px;
    width: 77%;
    font-size: 5vw;
}
#sct-intro .intro-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#sct-intro a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
}
#intro-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #27212c;
    color: #fff;
    font-size: 3vw;
    height: 100px;
}
#intro-bottom .intro-bottom-1{
    opacity: 0.5;
    padding-left: 10%;
}
#intro-bottom .intro-bottom-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bc3183;
    width: 100px;
    height: 100px;
}
/* Inicio estilos sct-intro */

/* Inicio estilos de sct-imagenes */
#sct-imagenes{
    display: flex;
    flex-direction: column;
}
#sct-imagenes figure img{
    width: 100%;
}
/* Fin estilos de sct-imagenes */

/* Inicio estilos de sct-texto */
#sct-texto{
    background: #ebebeb;
    color: #515151;
    font-size: 12px;
    padding-bottom: 30px;
    line-height: 250%;
    padding: 0 60px;
}
#sct-texto h2{
    font-size: 18px;
    font-weight: 700;
    color: #088ca5;
    padding: 20px 0;
}
#sct-texto p{
    padding-bottom: 20px;
}
#sct-texto .sct-texto-desktop{
    display: none;
}
/* Fin estilos de sct-texto */

/* Media Query Screen Size 640px and above */
@media all and (min-width: 640px){
    header #nav-mobile{
        min-height: 75px;
        font-size: 22px;
    }
    header #nav-mobile .material-icons{
        min-height: 75px;
        min-width: 75px;
        font-size: 30px;
    }
    #intro-bottom{
        height: 120px;
    }
    #intro-bottom .intro-bottom-2{
        width: 120px;
        height: 120px;
    }
    #sct-texto{
        font-size: 14px;
    }
    #sct-texto h2{
        font-size: 22px;
    }
    #sct-intro{
        height: 450px;
    }
    #sct-intro .intro-middle{
        padding-top: 50px;
    }
}
/* Media Query Screen Size 640px and above */

/* Media Query Screen Size 980px and above */
@media all and (min-width: 980px){
    header #nav-mobile{
        display: none;
    }
    header #nav-desktop{
        display: flex;
        align-items: center;
        padding-left: 4%;
        justify-content: space-between;
        min-height: 100px;
        width: 60%;
    }
    header #nav-desktop a{
        color: #ebebeb;
        text-decoration: none;
    }
    #intro-bottom{
        height: 180px;
    }
    #intro-bottom .intro-bottom-2{
        width: 180px;
        height: 180px;
    }
    #sct-imagenes{
        display: flex;
        flex-direction: row;
    }
    #sct-texto .sct-texto-mobile{
        display: none;
    }
    #sct-texto .sct-texto-desktop{
        display: flex;
    }
    .texto-desktop-col1{
        padding-right: 60px;
    }
    #sct-intro{
        height: 550px;
    }
    #sct-intro .intro-middle{
        padding-top: 70px;
    }
}
/* Media Query Screen Size 980px and above */